<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RUSS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RUSS.Properties.Settings>
            <setting name="MapLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="MAPPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="MAPServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAPOUTPUTURL" serializeAs="String">
                <value />
            </setting>
            <setting name="RustCOMBOBOX" serializeAs="String">
                <value />
            </setting>
            <setting name="RCONIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </RUSS.Properties.Settings>
    </userSettings>
</configuration>